<router-outlet></router-outlet>

<!-- card login / registration -->
<div class="card login">
  <button class="button" routerLink="/registration">
    <span>Register </span>
  </button>
  <button class="button" routerLink="/login">
    <span>Login </span>
  </button>
</div>

<div class="home page">
  <br>
  <h1 class="headline">UCL Bay</h1>
</div>

<!-- card search -->
<div class="card search">
  <h2 class="search-headline">Item Directory</h2>
  <label class="search-label">search
    <span *ngIf="query" [innerHTML]="' for: ' + query"></span>
  </label>
  <input class="search-input" [(ngModel)]="query" placeholder="type in search term here">

  <!-- item list -->
  <ul class="itemlist cf" *ngIf="query">
    <li class="itemlist-item cf" (click)="goToItemPage(item); query=''" *ngFor="let item of (items | search: query)">
      <item class="content" [item]=item></item>
    </li>
  </ul>
</div>