<div class="container">
  <div class="card login">
    <button class="button" routerLink="/register" *ngIf="user==null">
      <span>Register</span>
    </button>
    <button class="button" routerLink="/login" *ngIf="user==null">
      <span>Login</span>
    </button>
    <button class="button" (click)="logout()" *ngIf="user!=null">
      <span>Logout</span>
    </button>
    <button class="button" routerLink="/search" *ngIf="user!=null">
      <span>Main Page</span>
    </button>
  </div>

  <br>

  <form id="add-item-form">
    <br>

    <div class="space-bot text-center">
      <h2>Add Item</h2>
    </div>

    <br>

    <div class="row">
      <h4>Item Name</h4>
      <div class="col">
        <div class="input">
          <input type="text" [(ngModel)]="name" name="name" placeholder="Name of item" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="input">
          <input type="text" [(ngModel)]="description" name="description" placeholder="Add description of item" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-half">
        <label for="category">Category: </label>
        <select [(ngModel)]="selectedCategory" name="category">
          <option *ngFor="let category of categories" [ngValue]="category.categoryName">{{category.categoryName}}</option>
        </select>
      </div>
      <div class="col-half">
        <label for="condition">Condition: </label>
        <select type="text" [(ngModel)]="condition" name="condition" id="condition">
          <option value='New'>New</option>
          <option value='Used'>Used</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-half">
        <label for="quantity">Quantity: </label>
        <input type="number" [(ngModel)]="quantity" name="quantity" id="quantity">
      </div>
    </div>

    <div class="row">
      <div class="col-half">
        <label for="startDate">Start Date: </label>
        <input type="date" [(ngModel)]="startDate" name="startDate" id="startDate">
      </div>
      <div class="col-half">
        <label for="startTime">Start Time: </label>
        <input type="time" [(ngModel)]="startTime" name="startTime" id="startTime">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-half">
        <label for="endDate">End Date: </label>
        <input type="date" [(ngModel)]="endDate" name="endDate" id="endDate">
      </div>
      <div class="col-half">
        <label for="endTime">End Time: </label>
        <input type="time" [(ngModel)]="endTime" name="endTime" id="endTime">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-half">
        <div class="input">
          <label for="startPrice">Start Price £: </label>
          <input type="number" [(ngModel)]="startPrice" name="startPrice" placeholder="Enter start Price" />
        </div>
      </div>
      <div class="col-half">
        <div class="input">
          <label for="reservePrice">Reserve Price £: </label>
          <input type="number" [(ngModel)]="reservePrice" name="reservePrice" placeholder="Reserve Price" />
        </div>
      </div>
      <div class="col-half">
        <div class="input">
          <label for="buyNowPrice">Buy-it-now Price £: </label>
          <input type="number" [(ngModel)]="buyNowPrice" name="buyNowPrice" placeholder="Buy-it-now Price" />
        </div>
      </div>

    </div>


    <div class="row">
      <br>
      <div class="col-half">
        <input type="button" id="cancel-button" value="Cancel" routerLink="/sell" />
      </div>
      <div class="col-half">
        <input type="submit" value="Create Auction" (click)="addItem()">
      </div>
    </div>

  </form>
</div>