
input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]+label,
  select {
    width: 50%;
    text-align: center;
    float: left;
    border-radius: 0;
  }
  
  input[type="radio"]+label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  input[type="radio"]+label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  input[type="radio"]+label i {
    padding-right: 0.4em;
  }
  
  input[type="radio"]:checked+label,
  input:checked+label:before,
  select:focus,
  select:active {
    background-color: #555459;
    color: #ffffff;
    border-color: #000000;
  }
  