<!-- card login / registration -->
<div class="card login">
  <button class="button" routerLink="/register" *ngIf="user==null">
    <span>Register </span>
  </button>
  <button class="button" routerLink="/login" *ngIf="user==null">
    <span>Login </span>
  </button>
  <label class="welcome-label" *ngIf="user!=null">Welcome, {{user.firstName}}!
    </label>
  <button class="button" (click)="logout()" *ngIf="user!=null">
    <span>Logout </span>
  </button>
</div>

<div class="home page">
  <br>
  <h1 class="headline">UCL Bay</h1>
</div>

<!-- card search -->
<div class="card search">
  <h2 class="search-headline">Item Directory</h2>
  <label class="search-label">search
    <span *ngIf="query" [innerHTML]="' for: ' + query"></span>
  </label>
  <input class="search-input" [(ngModel)]="term" placeholder="type in search term here">

  <!-- item list -->
  <ul class="itemlist cf" *ngIf="term">
    <li class="itemlist-item cf" *ngFor="let item of items | search : term | sortBy: 'itemID'">
      <app-item class="content" [item]="item" (click)="setItem(item)" [routerLink]="['/items', item.itemID]">
      </app-item>
    </li>
  </ul>
</div>
