.feedback-item{
  padding-bottom: 15px;
  background: white;
  padding: 10px 20%;
}

.username{
  font-size: 1.1em;
  color: blue;
}

.inline-block{
  display:inline-block;
  vertical-align: middle;

}

.comment{
  word-wrap: normal;
}


/* Stars */

.star {
  width: 92px;
  position: relative;
  color: #bdbdbd;
}

.rating {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.rating span {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  color: gold;
}
