<div class="feedback-item">
	
		<div class="star inline-block">
			<div class="rating" [style.width.%]="feedback?.ratingpercentage">
				<span>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</span>
			</div>
		</div>
		<h3 class="inline-block username" (click)="setProfile(feedback.username)" [routerLink]="['/profile', feedback?.username]">&ndash; {{ feedback?.username }}</h3>
		<h3 *ngIf="feedback.name != null" class="inline-block" > bought</h3>
		<h3 *ngIf="feedback.name != null" class="inline-block" (click)="setItem()" [routerLink]="['/items', item?.itemID]"> {{ feedback?.name }}</h3>

	<h4 class="comment"> "{{ feedback?.comment }}"</h4>
	

</div>