.item-details {
  position: relative;
  background: white;
  width: 100%;
  max-width: 850px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 30px 40px;
  position: relative;
  opacity: 1;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  z-index: 4;
}

.item-details .item-name {
  font-size: 2em;
  margin-bottom: 3px;
}

.item-details .item-reknown {
  font-size: 1.2rem;
  font-weight: 400;
}

.item-details .item-img {
  width: 40%;
  max-width: 130px;
  float: left;
  margin-right: 20px;
  border-radius: 10px;
}

.item-details .item-longbio {
  font-size: 1rem;
  line-height: 160%;
}