/* ---------------------- */

/* item.css Styles */

/* ---------------------- */

.item-box{
  display: grid;
  grid-template-columns: 2fr 5fr;

}


.item-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 70%;
  border-radius: 12px;
  grid-column: 1/2;
  max-height: 150px;
}

.item-info {
  grid-column: 2/3; 
  display: grid;
  grid-template-rows: 2fr 1fr; 
  position: relative;
}

.item-name {
  font-size: 2.0rem;
  margin-top: 0;
  text-align: left;
  grid-row: 1/2;
  position: absolute;
  bottom: 30%;
}

.item-info .item-category{
  font-size: 0.9rem;
  grid-row: 1/2;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  right: 10%;
  bottom:30%;
  grid-row: 1/2;
}


.item-highestbid {
  font-size: 1.2rem;
  font-weight: 400;
  grid-row: 2/3;
  
}


.item-endTime {
  font-size: 1.2rem;
  font-weight: 400;
  grid-row: 2/3;
  position: absolute;
  right: 10%;
}


