.item-details {
  margin-bottom: 30px;
  background: white;
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
}

.item-description {
  position: relative;
  clear: left;
  top: 5%;
}

img.item-photo {
  min-width: 100%;
  max-width: 100%;
  max-height: 250px;
  margin-bottom: 20px;
  object-fit: contain;
}

.item-description {
  clear: left;
  white-space: pre-wrap;
}

#newBid {
  width: 200px;
  display: inline-block;
}

#submit-bid {
  width: 100px;
  text-align: center;
  display: inline-block;
}

.bid-box {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

#watch-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 150px;
}

.item-name {
  text-align: center;
  margin-top: 20px;
}

.info-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-items {
  grid-column: 1/2;
}

.left-items>* {
  display: block;
}

.right-items {
  grid-column: 2/3;
}

.userinfo-box {
  margin-bottom: 20px;
}

.vertical-align>* {
  vertical-align: middle;
}

.sellerInfo {
  display: inline-block;
}

.ratingcount {
  display: inline-block;
  font-size: 14px;
}

h3 {
  font-size: 1.0em;
  font-weight: 500;
}

.sellerName {
  display: inline-block;
  font-weight: 500;
  color: blue;
}

/* Stars */

.star {
  width: 92px;
  position: relative;
  display: inline-block;
}

.rating {
  overflow: hidden;
  white-space: nowrap;
}

.rating span {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  color: gold;
}

.rating span:before { 
  content:"\2606 \2606 \2606 \2606 \2606";
  position: absolute;
  color: #bdbdbd;
  z-index: -1;
}
