<router-outlet></router-outlet>

<!-- card logout -->
<div class="card login">
  <img class="profilePhoto" src="{{this.user.photo}}">
  <label class="welcome-label" *ngIf="user!=null">Welcome, {{user.firstName}}!</label>
  <h1 class="headline">UCL Bay</h1>
  <button class="button" routerLink="/register" *ngIf="user==null">
    <span>Register</span>
  </button>
  <button class="button" routerLink="/login" *ngIf="user==null">
    <span>Login</span>
  </button>
  <button class="button" (click)="logout()" *ngIf="user!=null">
    <span>Logout</span>
  </button>
  <button class="button" (click)="goBack()" *ngIf="user!=null">
    <span>Go Back</span>
  </button>
</div>

<br>
<br>
<br>
<br>

<!-- item details -->
<section class="card item-details">
  <h1 class="item-name">{{item?.name}}</h1>
  <br>
  <!-- info -->
  <div class="info">
    <br>
    <img class="item-picture" src="{{item?.picture}}" alt="{{item?.itemID}}">
    <p class="item-description">{{ item?.description }}</p>
    <br>
    <br>
    <h3 class="item-right">Quantity: {{item?.quantity}}</h3>
    <br>
    <br>
    <h3 class="item-right" *ngIf="viewings != null">Total bids: {{ numberBids }}</h3>
    <br *ngIf="viewings != null">
    <br *ngIf="viewings != null">
    <h3 class="item-right" *ngIf="highestBid != null">Current bid: £{{ highestBid }} </h3>
    <br *ngIf="highestBid != null">
    <br *ngIf="highestBid != null">
    <h3 class="item-right" *ngIf="auction != null">Start price: £{{ auction.startPrice }}</h3>
    <br>
    <br>
    <h3 class="item-right" *ngIf="viewings != null">Total viewings: {{ viewings }}</h3>
    <br *ngIf="viewings != null">
    <br *ngIf="viewings != null">
    <h3 class="item-right" *ngIf="viewings != null">Buyers watching: {{ watchers }}</h3>
    <br *ngIf="viewings != null">
    <br *ngIf="viewings != null">
    <h3 class="item-right" id="countdown" *ngIf="auction != null"></h3>
    <br>
    <br>
    <h3 class="item-right" id="auction-winner" *ngIf="isExpired && item.sellerID === user.userID">
      Winner: {{ highestBidder }}
    </h3>
    <app-feedback [user]="user" [buyerID]="highestBidderID" [subject]="highestBidder" [sellerID]="item.sellerID" [item]="item"
      *ngIf="isExpired && sellerFeedbackGiven == false"></app-feedback>
    <!--I THINK sellerFeedbackGiven == false NEEDS CHANGING -->
    <br>
    <br>
    <form *ngIf="user != null && item.sellerID != user.userID" id="bid-form">
      <input type="number" [(ngModel)]="newBid" name="newBid" id="newBid" placeholder="Enter bid amount (£)">
      <input type="submit" value="Bid" (click)="bid()">
      <br>
      <br>
      <input type="submit" value="Watch Auction" (click)="watchAuction()">
    </form>
  </div>

</section>