/* ---------------------- */

/* item.css Styles */

/* ---------------------- */

.item-box {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin-bottom: 10px;
}

.item-box:hover {
  cursor: pointer;
  background: #FDF6E3;
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.item-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 70%;
  border-radius: 12px;
  grid-column: 1/2;
  max-height: 150px;
}

.item-info {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 2fr 1fr;
  position: relative;
}

.item-info .item-name {
  font-size: 2.0rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  grid-row: 1/2;
  position: absolute;
  bottom: 20%;
}

.item-info .item-category {
  font-size: 0.9rem;
  grid-row: 1/2;
  position: absolute;
  margin-bottom: 0;
  right: 10%;
  bottom: 20%;
  grid-row: 1/2;
}

.item-highestbid {
  font-size: 1.2rem;
  font-weight: 400;
  grid-row: 2/3;
}

.item-endTime {
  font-size: 1.2rem;
  font-weight: 400;
  grid-row: 2/3;
  position: absolute;
  right: 10%;
}

