<router-outlet></router-outlet>

<!-- card logout -->
<div class="card login">
  <img class="profilePhoto" src="{{this.user.photo}}">
  <label class="welcome-label" *ngIf="user!=null">Welcome, {{user.firstName}}!</label>
  <h1 class="headline">UCL Bay</h1>
  <button class="button" routerLink="/register" *ngIf="user==null">
    <span>Register</span>
  </button>
  <button class="button" routerLink="/login" *ngIf="user==null">
    <span>Login</span>
  </button>
  <button class="button" (click)="logout()" *ngIf="user!=null">
    <span>Logout</span>
  </button>
  <button class="button" (click)="goBack()" *ngIf="user!=null">
    <span>Go Back</span>
  </button>
</div>

<br>
<br>
<br>
<br>

<!-- item details -->
<section class="card item-details">
  <h1 class="item-name">{{item?.name}}</h1>
  <br>
  <!-- info -->
  <div class="info">
  <div class="info-columns">

    <div class="left-items">
      <div class="img-container">
        <img class="item-photo" src="{{item?.photo}}" alt="{{item?.itemID}}">
      </div>
      <br>
      <p class="item-description">{{ item?.description }}</p>
      <br>
      <br>
       <div class="item-left userinfo-box">
          <div class="vertical-align">
          <h3 id="sellerInfo" class="sellerInfo">Seller: </h3>
            <h3 id="sellerName" class="sellerName"> {{ seller }}</h3><!--[routerLink]="['/profile', seller]"-->
            <div class="star" title="{{seller}}'s average rating">
              <div class="rating" [style.width.%]="sellerRating">
                 <span>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</span>
              </div>
            </div>
            <h6 class="ratingcount" title="{{ sellerFeedbackCount }} people have rated {{seller}}">&nbsp;({{sellerFeedbackCount}})</h6>
          </div>
      </div>

  </div>  

  <div class="right-items">
      <h3 class="item-right">Quantity: {{item?.quantity}}</h3>
      <br>
      <br>

      <h3 class="item-right">Condition: {{item?.condition}}</h3>
      <br>
      <br>

      <h3 class="item-right" *ngIf="viewings != null">Total bids: {{ numberBids }}</h3>
      <br *ngIf="viewings != null">
      <br *ngIf="viewings != null">
      
      <h3 class="item-right" *ngIf="highestBid != null">Current bid: £{{ highestBid }} </h3>
      <br *ngIf="highestBid != null">
      <br *ngIf="highestBid != null">
      
      <h3 class="item-right" *ngIf="auction != null && highestBid == null">Start price: £{{ auction.startPrice }}</h3>
      <br *ngIf="auction != null && highestBid == null">
      <br *ngIf="auction != null && highestBid == null">
      
      <h3 class="item-right" *ngIf="viewings != null">Total viewings: {{ viewings }}</h3>
      <br *ngIf="viewings != null">
      <br *ngIf="viewings != null">
      
      <h3 class="item-right" *ngIf="viewings != null">Buyers watching: {{ watchers }}</h3>
      <br *ngIf="viewings != null">
      <br *ngIf="viewings != null">
      
      <h3 class="item-right" id="countdown" *ngIf="auction != null"></h3>
      
      <br *ngIf="isExpired &&  highestBidderID != null">
      <br *ngIf="isExpired &&  highestBidderID != null">
      
      <h3 class="item-right" id="auction-winner" *ngIf="isExpired &&  highestBidderID != null">
        Winner: {{ highestBidder }}
      </h3>
    </div>

  </div>


    <app-feedback [user]="user" [buyerID]="highestBidderID" [subject]="highestBidder" [sellerID]="item.sellerID" [item]="item"
      *ngIf="isExpired && highestBidderID != null && sellerFeedbackGiven == false && item.sellerID === user.userID"></app-feedback>

    <app-feedback [user]="user" [buyerID]="highestBidderID" [subject]="seller" [sellerID]="item.sellerID" [item]="item" *ngIf="isExpired && buyerFeedbackGiven == false && highestBidderID === user.userID"></app-feedback>
    <br>
    <br>
    <form *ngIf="user != null && item.sellerID != user.userID && isExpired == false" id="bid-form">
      <input type="number" [(ngModel)]="newBid" name="newBid" id="newBid" placeholder="Enter bid amount (£)">
      <input type="submit" value="Bid" (click)="bid()">
      <br>
      <br>
      <input type="submit" value="Watch Auction" (click)="watchAuction()">
    </form>
  </div>

</section>
