.item-details .add-item-button {
  position: relative;
  text-align: center;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
  padding: 10px 10px;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.item-details .add-item-button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.item-details .add-item-button span:after {
  content: '\00bb';
  opacity: 0;
  transition: 0.5s;
}

.item-details .add-item-button:hover span:after {
  opacity: 1;
}

.itemlist {
  display: flex;
  flex-wrap: wrap;
}

.itemlist-item {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background: white;
}

.item-details {
  margin-top: 60px;
}

:host {
  display: block;
  background: #f3f3f3;
}

.grid-list-container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 16px;
  z-index: 8;
  border: none;
}

@import '../palette';
app-item {
  cursor: pointer;
}

/*Tabs*/
/* Style the tab */
.tabwrapper {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.tab {

  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the tab content */
.activetab {
    display: block;
}
