.item-details .add-item-button {
  position: relative;
  text-align: center;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
  padding: 10px 10px;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.item-details .add-item-button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.item-details .add-item-button span:after {
  content: '\00bb';
  opacity: 0;
  transition: 0.5s;
}

.item-details .add-item-button:hover span:after {
  opacity: 1;
}

.itemlist {
  display: flex;
  flex-wrap: wrap;
}

.itemlist-item{
  width: 100%;
  box-sizing: border-box;
  padding-left:20px;
  padding-right:20px;
  background: white;
}

.item-details{
  background: #ECECEA;
  margin-top: 60px;
  padding: 30px 40px;
}
