.my-items .add-item-button {
  position: relative;
  text-align: center;
  font-size: 16px;
  width: 170px;
  cursor: pointer;
  padding: 10px 10px;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.my-items {
  margin-top: 5%;
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
  background-color: #ECECEA;
}

.my-items .add-item-button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.my-items .add-item-button span:after {
  content: '\00bb';
  opacity: 0;
  transition: 0.5s;
}

.my-items .add-item-button:hover span:after {
  opacity: 1;
}

:host {
  display: block;
}

.grid-list-container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 16px;
  z-index: 4;
  border: none;
}

@import '../palette';
app-item {
  cursor: pointer;
}

/*Tabs*/

/* Style the tab */

.tabwrapper {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.tab {
  overflow: hidden;
  background-color: black;
  border: 1px solid #ccc;
}

/* Style the buttons inside the tab */

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0;
  margin: 0 0;
  width: 33.3%;
  margin: 0 0;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the tab content */

.activetab {
  display: block;
}

