.user-details {
  position: relative;
  margin-top: 40px;
}

.login{
  margin-bottom: 20px;
}

.centred{
  text-align: center;
}

.viewingProfileName{
  padding-top: 20px;
}

.viewingProfilePhoto {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.ratings {
  position: relative;
}
.feedback {
  position: relative;
  margin-left:15%;
  margin-right:15%;
}

.ratingcount{
  font-size:0.9em;
}

.comments-title{
  font-size: 1.3em;
  padding-left:20%;
  background:white;
  margin-bottom: 0;
  margin-top: 20px;
  padding-top:20px;
  padding-bottom: 10px;
}

.vertical-align{
  vertical-align: middle;
  margin-bottom: 0;
  display: inline-block;
}

.ratings{
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}


.user-auctions {
  position: relative;
  margin-top: 20px;
  margin-left: 15%;
  margin-right:15%;
  margin-bottom: 50px;
}

/* Stars */

.star {
  width: 92px;
  position: relative;
  color: #bdbdbd;
}

.rating {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

hr{
  margin:0;
}

.rating span {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  color: gold;
}


.rating span:before { 
  content:"\2606 \2606 \2606 \2606 \2606";
  position: absolute;
  color: #bdbdbd;
  z-index: -1;
}


@import '../palette';
app-item {
  cursor: pointer;
}

