<router-outlet></router-outlet>

<!-- card logout -->
<div class="card login">
  <img class="profilePhoto" src="{{ this.user.photo }}">
  <label class="welcome-label" *ngIf="user!=null">Welcome, {{ user.firstName }}!</label>
  <h1 class="headline">UCL Bay</h1>
  <button class="button" routerLink="/register" *ngIf="user==null">
    <span>Register</span>
  </button>
  <button class="button" routerLink="/login" *ngIf="user==null">
    <span>Login</span>
  </button>
  <button class="button" (click)="logout()" *ngIf="user!=null">
    <span>Logout</span>
  </button>
  <button class="button" routerLink="/search" *ngIf="user!=null">
    <span>Main Page</span>
  </button>
</div>

<br>

<!-- item details -->
<section class="card item-details" *ngIf="user!=null">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <img class="viewingProfilePhoto" src="{{ profileUser?.photo }}">
      <h2 class="viewingProfileName">{{ profileUser?.username }}</h2>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <h3>Seller Rating:&nbsp;</h3>
      <div class="star">
        <div class="rating" [style.width.%]="averageSellerRating">
          <span>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</span>
        </div>
      </div>
      <h6 class="ratingcount" *ngIf="sellerFeedbackCount > 1">{{ sellerFeedbackCount }} people have rated {{ profileUser?.username }} as a seller.</h6>
      <h6 class="ratingcount" *ngIf="sellerFeedbackCount == 1">{{ sellerFeedbackCount }} person has rated {{ profileUser?.username }} as a seller.</h6>
      <h6 class="ratingcount" *ngIf="sellerFeedbackCount == 0">{{ profileUser?.username }} is yet unrated as a seller.</h6>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>Buyer Rating:&nbsp;</h3>
      <div class="star">
        <div class="rating" [style.width.%]="averageBuyerRating">
          <span>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</span>
        </div>
      </div>
      <h6 class="ratingcount" *ngIf="buyerFeedbackCount > 1">{{ buyerFeedbackCount }} people have rated {{profileUser?.username}} as a buyer.</h6>
      <h6 class="ratingcount" *ngIf="buyerFeedbackCount == 1">{{ buyerFeedbackCount }} person has rated {{profileUser?.username}} as a buyer.</h6>
      <h6 class="ratingcount" *ngIf="buyerFeedbackCount == 0">{{ profileUser?.username }} is yet unrated as a buyer.</h6>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="userSellerFeedback != null">
    <ul class="feedback-list cf">
      <li class="feedbacklist-item cf" *ngFor="let feedback of userSellerFeedback">
        <app-feedback-item class="content" [feedback]="feedback">
        </app-feedback-item>
      </li>
    </ul>
  </div>

  <div class="userAuctions">
    <h2>Auctions</h2>
    <!-- item list -->
    <ul class="itemlist cf">
      <li class="itemlist-item cf" *ngFor="let item of userAuctions">
        <app-item class="content" [item]="item" (click)="setItem(item)" [routerLink]="['/items', item.itemID]">
        </app-item>
      </li>
    </ul>
  </div>

</section>
