<router-outlet></router-outlet>

<!-- card logout -->
<div class="card login">
  <img class="profilePhoto" src="{{this.user.photo}}" *ngIf="user!=null" (click)="goToMyProfile();">
  <label class="welcome-label" *ngIf="user!=null">Welcome, {{ user.firstName }}!</label>
  <h1 class="headline">UCL Bay</h1>
  <button class="button" routerLink="/register" *ngIf="user==null">
    <span>Register</span>
  </button>
  <button class="button" routerLink="/login" *ngIf="user==null">
    <span>Login</span>
  </button>
  <button class="button" (click)="logout()" *ngIf="user!=null">
    <span>Logout</span>
  </button>
  <button class="button" routerLink="/search" *ngIf="user!=null">
    <span>Main Page</span>
  </button>
</div>

<br>

<!-- user details -->
<section class="user-details" *ngIf="user!=null">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <img class="viewingProfilePhoto" src="{{ profileUser?.photo }}" *ngIf="user.userID != profileUser?.userID">
      <h2 class="viewingProfileName" *ngIf="user.userID != profileUser?.userID">{{ profileUser?.username }}</h2>
      <h2 class="viewingProfileName" *ngIf="user.userID == profileUser?.userID">My Profile</h2>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="ratings" cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <h3>Seller Rating:&nbsp;</h3>
      <div class="star">
        <div class="rating" [style.width.%]="averageSellerRating">
          <span>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</span>
        </div>
      </div>
      <h6 class="ratingcount" title="{{ sellerFeedbackCount }} people have rated {{ profileUser?.username }} as a seller." *ngIf="sellerFeedbackCount > 1" >&nbsp;({{ sellerFeedbackCount }})</h6>
      <h6 class="ratingcount" title="{{ sellerFeedbackCount }} person has rated {{ profileUser?.username }} as a seller." *ngIf="sellerFeedbackCount == 1">&nbsp;({{ sellerFeedbackCount }})</h6>
      <h6 class="ratingcount" *ngIf="sellerFeedbackCount == 0">{{ profileUser?.username }} is yet unrated as a seller.</h6>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>Buyer Rating:&nbsp;</h3>
      <div class="star">
        <div class="rating" [style.width.%]="averageBuyerRating">
          <span>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</span>
        </div>
      </div>
      <h6 class="ratingcount" title="{{ buyerFeedbackCount }} people have rated {{profileUser?.username}} as a buyer." *ngIf="buyerFeedbackCount > 1">&nbsp;({{ buyerFeedbackCount }})</h6>
      <h6 class="ratingcount" title="{{ buyerFeedbackCount }} person has rated {{profileUser?.username}} as a buyer." *ngIf="buyerFeedbackCount == 1" >&nbsp;({{ buyerFeedbackCount }})</h6>
      <h6 class="ratingcount" title="{{ profileUser?.username }} is yet unrated as a buyer." *ngIf="buyerFeedbackCount == 0">&nbsp;({{ buyerFeedbackCount }})</h6>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="feedback" *ngIf="userSellerFeedback != null">
    <h3 *ngIf="userSellerFeedback != null" class="comments-title">Comments from {{profileUser.username}}'s customers</h3>
    <ul class="feedback-list cf">
      <li class="feedbacklist-item cf" *ngFor="let feedback of userSellerFeedback">
        <app-feedback-item class="content" [feedback]="feedback">
        </app-feedback-item>
        <hr>
      </li>
    </ul>
  </div>

   <div class="feedback" *ngIf="userBuyerFeedback != null">
    <h3 *ngIf="userBuyerFeedback != null" class="comments-title">Comments from {{profileUser.username}}'s sellers</h3>
    <ul class="feedback-list cf">
      <li class="feedbacklist-item cf" *ngFor="let feedback of userBuyerFeedback">
        <app-feedback-item class="content" [feedback]="feedback">
        </app-feedback-item>
        <hr>
      </li>
    </ul>
  </div>
</section>

<div class="user-auctions">
  <h2 *ngIf="user.userID != profileUser?.userID">Auctions</h2>
  <h2 *ngIf="user.userID == profileUser?.userID">My Auctions</h2>
  <!-- item grid -->
  <div class="grid-list-container">
    <mat-grid-list cols="3" gutterSize="16">
      <mat-grid-tile *ngFor="let item of userAuctions">
        <app-item [item]="item" (click)="setItem(item)" [routerLink]="['/items', item.itemID]">
        </app-item>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>